* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

*:focus {
  outline: 1px auto rgb(16, 16, 16);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: TBCX, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7;
  background-color: #f9fafa;
  color: #555f62;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  max-inline-size: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

section {
  padding: 6rem 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
}

.page-padding {
  padding: 0 4.7rem;
}

.site-wrapper {
  padding-top: 8rem;
}

.scroll-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll-content {
}

.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  z-index: 1;
  background-color: rgba(222, 222, 222, 0.75);
  transition: opacity 0.5s 0.5s ease-out;
}

.scroll-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 8px;
  height: 52.7538px;
  position: absolute;
  top: 0;
  left: 0;
}

.heading-primary,
.secondary-heading,
.heading-tertiary {
  color: #141719;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
}

.secondary-heading {
  line-height: 1.5;
  color: #141719;
  margin-bottom: 3.6rem;
}

.search-btn:hover {
  color: #3295ce;
}

.arrow-link {
  color: #182cc0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.25s ease-in-out;
}

.arrow-link:hover {
  color: #3295ce;
}

.white-arrow-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.25s ease-in-out;
  text-decoration: underline;
  color: #fff;
}

.white-arrow-link:hover {
  text-decoration: none;
  color: #aeaeae;
}

.overflow-hidden {
  overflow: hidden;
}

.contact-icon {
  width: 1.6rem;
}

.contact-list-item {
  color: #555f62;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.contact-list-item:hover {
  text-decoration: underline;
}

.soc-icons {
  display: flex;
  gap: 4px;
}

.soc-icons a {
  color: #555f62;
  width: 4rem;
  height: 4rem;
  background-color: #f9fafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: all 0.25s ease-in-out;
}

.soc-icons a:hover {
  color: #182cc0;
  background-color: #eee;
}

.soc-icons a img {
  width: 1.7rem;
}

.copyright {
  color: #6f787b;
  color: #555f62;
  display: flex;
  align-items: center;
  gap: 8px;
}

.terms-rules {
  display: flex;
  gap: 3.5rem;
}

.link {
  color: #555f62;
  font-weight: 400;
  transition: color 0.25s ease-in-out;
}

.link:hover {
  color: #182cc0;
}

.mob-header-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  cursor: pointer;
}

.mob-header-btn-line {
  height: 2px;
  background-color: #555f62;
  transition: all 0.6s ease;
  border-radius: 1px;
}

.mob-header-btn-line:nth-child(1) {
  width: 1.1rem;
  transform-origin: 100%;
  transform-style: preserve-3d;
}

.mob-header-btn-line:nth-child(2) {
  width: 2rem;
}

.mob-header-btn-line:nth-child(3) {
  width: 1.5rem;
  transform-origin: 100% 100%;
  transform-style: preserve-3d;
}

.open-mob-nav .mob-header-btn-line:nth-child(1) {
  transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(-45deg)
    skew(0deg, 0deg);
  width: 2rem;
}

.open-mob-nav .mob-header-btn-line:nth-child(2) {
  opacity: 0;
}

.open-mob-nav .mob-header-btn-line:nth-child(3) {
  transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(45deg)
    skew(0deg, 0deg);
  width: 2rem;
}
