@media (min-width: 1440px) {
  body {
    font-size: 1.6rem;
  }

  .header-dropdown-link:link,
  .header-dropdown-link:visited {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .message-text {
    font-size: 3.6rem;
  }

  .banner-content {
    padding: 9.5rem;
  }

  .banner-inner {
    max-width: 54rem;
  }

  .banner-heading {
    font-size: 2.8rem;
  }

  .swiper-container {
    overflow: hidden;
  }

  .swiper_scrollbar {
    margin-right: 9.2rem;
  }

  .swiper-nav-arrows {
    display: flex;
  }

  .menu-button {
    bottom: 4rem;
    right: 4rem;
  }

  .footer-social-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 1122px) {
  .header-container {
    gap: 2rem;
  }

  .header-navigation {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 5rem 0;
  }

  .header {
    padding: 0 4.5rem;
  }

  .page-padding {
    padding: 0 4.5rem;
  }

  .header-dropdown-bg {
    display: none;
  }

  .header-navigation {
    display: none;
  }

  .change-lang {
    display: none;
  }

  .mob-header-btn {
    display: flex;
  }

  .header-mob-navigation {
    background-color: #f9fafa;
    z-index: 102;
    display: block;
    visibility: hidden;
    opacity: 0;
    padding-top: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.25s ease;
  }

  .open-mob-nav .header-mob-navigation {
    visibility: visible;
    opacity: 1;
  }

  .header-mob-navigation-wrapper {
    max-height: 100%;
    overflow: auto;
  }

  .header-mob-main {
    background-color: #fff;
  }

  .mob-nav {
    display: flex;
    flex-direction: column;
  }

  .mob-nav-item {
    border-bottom: 1px solid #d1d5d6;
    padding: 3.2rem 4.5rem;
  }

  .mob-nav-item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #141719;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .mob-nav-hidden-links {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.6rem;
  }

  .mob-nav-hidden-content {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s ease;
  }

  .show-nav .mob-nav-hidden-content {
    grid-template-rows: 1fr;
  }

  .mob-nav-item-name svg {
    transition: transform 0.6s ease;
  }

  .show-nav .mob-nav-item-name svg {
    transform: rotate(180deg);
  }

  .header-contacts {
    padding: 3.2rem 4.5rem;
  }

  .header-nav-heading {
    font-size: 2.4rem;
    color: #141719;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 3.2rem 0;
  }

  .header-mob-bottom {
    background-color: #f9fafa;
    padding: 3.2rem 4.5rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .section-hero {
    padding-bottom: 5rem;
  }

  .banner-content {
    padding: 24rem 4.5rem 3.6rem;
  }

  .set-card {
    min-height: 23.2rem;
  }

  .set-card-content {
    padding: 2.4rem;
  }

  .statistic {
    flex-direction: column;
  }

  .get-app-inner {
    min-height: 30rem;
  }

  .app-btn {
    display: none;
  }

  .app-mob-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding-top: 5rem;
  }

  .copyright {
    color: #6f787b;
  }

  .footer-change-lang {
    display: block;
  }
  .current-lang {
    padding: 0 1.2rem;
    height: 4rem;
  }

  .menu-button {
    right: 2.4rem;
    bottom: 2.4rem;
  }
}

@media (max-width: 767px) {
  section {
    padding: 4rem 0;
  }

  .heading-wrapper {
    margin-bottom: 2.8rem;
  }

  .header-desktop-logo {
    display: none;
  }

  .header-mob-logo {
    display: block;
  }

  .soc-icons {
    gap: 1.5rem;
  }

  .soc-icons a {
    width: 5.2rem;
    height: 5.2rem;
  }

  .banner {
    margin: 0 -4.5rem;
    border-radius: 0;
  }

  .banner-inner {
    max-width: 100%;
    align-items: stretch;
  }

  .banner-img-wrapper {
    border-radius: 0;
  }

  .banner-img-wrapper img {
    border-radius: 0;
  }

  .message-text {
    font-size: 2.8rem;
  }

  .sets-cards {
    display: flex;
    overflow: auto;
    gap: 1.6rem;
    padding: 0 4.5rem;
    margin: 0 -4.5rem;
  }

  .set-card {
    width: 28rem;
    flex: none;
  }

  .set-card-img-wrapper {
    border-radius: 0;
  }

  .get-app-inner {
    flex-direction: column;
    width: 100%;
    gap: 2.8rem;
  }

  .swiper-wrapper {
    padding-bottom: 2.8rem;
  }

  .offers-card {
    border-radius: 6px;
  }

  .offers-card-img-wrapper {
    padding-top: 42%;
  }

  .offers-card-img {
    border-radius: 6px 6px 0 0;
  }

  .offers-card-content {
    padding: 2rem;
    gap: 1.2rem;
  }

  .get-app-inner {
    padding: 4.5rem 0;
  }

  .get-app-content {
    width: 100%;
    gap: 2.8rem;
  }

  .get-app-img {
    position: static;
    max-height: none;
    height: auto;
  }

  .app-buttons {
    width: 100%;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .award-card {
    border-style: none;
    border-radius: 6px;
  }

  .award-content {
    gap: 1.6rem;
  }

  .award-content h3 {
    font-size: 1.4rem;
  }

  .product-card {
    border-radius: 6px;
    font-size: 1.2rem;
  }

  .product-card-img-wrapper {
    border-radius: 6px 6px 0 0;
    padding-top: 42%;
  }

  .product-card-content {
    padding: 2rem;
    gap: 1.2rem;
  }

  .footer {
    padding-top: 4rem;
  }

  .footer-top {
    border-bottom: 1px solid #d1d5d6;
    padding: 3.6rem 0;
  }

  .footer-main {
    padding: 0;
  }

  .footer-nav-item {
    overflow: hidden;
    border-bottom: 1px solid #d1d5d6;
  }

  .footer-nav-list {
    flex-direction: column;
    gap: 0;
  }

  .footer-arrow-down {
    display: block;
  }

  .footer-nav-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.4rem;
    line-height: 1.5;
    padding: 0;
  }

  .footer-dropdown-list {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 1s ease;
  }

  .footer-dropdown-list-item {
    padding-top: 3.6rem;
  }

  .show-nav .footer-dropdown-list {
    grid-template-rows: 1fr;
  }

  .footer-arrow-down {
    transition: transform 0.6s ease;
  }

  .show-nav .footer-arrow-down {
    transform: rotate(180deg);
  }

  .footer-dropdown-list-item {
    overflow: hidden;
    font-size: 1.6rem;
    gap: 2.4rem;
  }

  .footer-dropdown-toggle {
    margin: 0 -4.5rem;
    padding: 3.6rem 4.5rem;
  }

  .footer-contacts {
    padding: 5.6rem 0;
    border: 0;
  }

  .footer-bottom {
    padding: 3.2rem 0;
    font-size: 1.4rem;
  }

  .footer-bottom-inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
  }

  .footer-contact-list {
    gap: 3.2rem;
  }

  .footer-contact-item h5 {
    font-size: 2.4rem;
  }

  .footer-social-heading {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .footer-logo {
    display: none;
  }

  .footer-mob-logo {
    display: inline-block;
    color: #141719;
    width: 4.4rem;
  }

  .terms-rules {
    gap: 3rem;
    order: -1;
    row-gap: 8px;
  }
}

@media (max-width: 479px) {
  section {
    padding: 3.6rem 0;
  }

  .heading-wrapper {
    margin-bottom: 2rem;
  }

  .page-padding {
    padding: 0 1.5rem;
  }
  .header {
    padding: 0 1.5rem;
  }

  .header-buttons {
    gap: 0.8rem;
  }

  .header-mob-bottom {
    font-size: 1.2rem;
    gap: 2.4rem;
    padding: 2.4rem 1.5rem;
  }

  .terms-rules {
    flex-wrap: wrap;
  }

  .arrow-link {
    font-size: 1.2rem;
  }

  .breadcrumbs-text {
    display: flex;
    align-items: center;
  }

  .breadcrumbs-text::before {
    content: url(../images/sm-left-arrow.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7rem;
    margin-top: 3px;
  }

  .breadcrumbs {
    padding: 1.6rem 0;
  }

  .banner-content {
    padding: 17.2rem 1.5rem 2rem;
  }

  .banner {
    margin: 0 -1.5rem;
  }

  .banner-heading {
    font-size: 1.6rem;
  }

  .message-text {
    font-size: 2.4rem;
  }

  .statistic {
    gap: 1.6rem;
  }

  .statistic-item {
    padding: 2.4rem;
    font-size: 1.4rem;
  }

  .get-app-inner {
    padding: 3.2rem 0;
  }

  .get-app-heading {
    font-size: 1.4rem;
  }

  .get-app-content {
    gap: 2.4rem;
  }

  .swiper-wrapper {
    padding-bottom: 2rem;
  }

  .offers-card-img-wrapper,
  .product-card-img-wrapper {
    padding-top: 57%;
  }

  .footer-dropdown-toggle {
    padding: 2.4rem 1.5rem;
    padding-bottom: 2.4rem;
    margin: 0 -1.5rem;
  }

  .footer-top {
    padding: 3.2rem 0;
    /* margin: 0 -1.5rem; */
  }

  .footer-bottom {
    padding: 2.4rem 0;
  }

  .footer-bottom-inner {
    font-size: 1.2rem;
  }

  .footer-contacts {
    padding: 3.2rem 0;
  }

  .footer-bottom-inner {
    gap: 2.4rem;
  }

  .footer-contact-list {
    margin-bottom: 4.8rem;
  }

  .footer-nav-name,
  .footer-contact-item h5,
  .footer-social-heading {
    font-size: 1.6rem;
  }

  .menu-button {
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .menu-trigger-btn {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
  }

  .buttons-item {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
  }
}
