/* --------------------------------------------------*/
/* Header */
.header {
  height: 8rem;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  padding: 0 4.7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
}

.header-container {
  z-index: 103;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  max-width: 111rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.header-desktop-logo {
  display: block;
}

.header-mob-logo {
  display: none;
}

.header-navigation {
  height: 100%;
  flex: 1;
  margin: 0 4rem;
}

.header-mob-navigation {
  display: none;
}

.header-dropdown-list {
  z-index: 105;
  visibility: hidden;
  min-width: 20rem;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem 0;
  opacity: 0;
  transition: all 0.6s ease;
}

.show-list .header-dropdown-list {
  visibility: visible;
  opacity: 1;
}

.dropdown-line {
  height: 2px;
  width: 100%;
  border-radius: 1px;
  margin-bottom: -1px;
  background-color: #182cc0;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.6s ease;
  transform: scale(0);
  transform-style: preserve-3d;
}

.show-list .dropdown-line {
  transform: scale(1);
}

.header-dropdown-link:link,
.header-dropdown-link:visited {
  font-size: 1.6rem;
  padding-right: 4.7rem;
  transition: color 0.25s ease-in-out;
}

.header-dropdown-link:hover,
.header-dropdown-link:active {
  color: #182cc0;
}

.header-dropdown-link .header-logo img {
  display: block;
}

.header-nav-items {
  cursor: pointer;
  display: flex;
  gap: 3.2rem;
  color: #222222;
  height: 100%;
}

.header-nav-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-dropdown-bg {
  min-height: 20.5rem;
  z-index: 99;
  transition: 0.4s;
  background-color: #fff;
  padding: 3.2rem 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: auto;
  top: 8rem;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.active .header-dropdown-bg {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

.header-dropdown-img img {
  margin-bottom: 2rem;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.search-btn {
  cursor: pointer;
  display: flex;
  padding: 0.8rem;
  transition: color 0.25s;
}

.subscribe-set > a > span {
  margin-top: 2px;
}

.subscribe-set a:hover {
  color: #3295ce;
}

.change-lang {
  position: relative;
  cursor: pointer;
}

.current-lang {
  height: 3.6rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 0.4rem;
  font-weight: 700;
  padding: 0 0.8rem;
  transition: background-color 0.25s ease-in-out;
}

.change-lang:hover .current-lang {
  background-color: #eef1f1;
}

.change-lang:hover .lang-list-wrapper {
  display: block;
}

.lang-list-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: auto;
  top: 3.6rem;
  padding-top: 4px;
  display: none;
}

.lang-list {
  color: #141719;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  padding: 0.8rem 0;
  font-weight: 500;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
}

.lang-list-item {
  text-align: center;
  padding: 4px 0;
  transition: background-color 0.25s ease-in-out;
}

.lang-list-item:hover {
  background-color: #f9fafa;
}

/* --------------------------------------------------*/
/* Breadcrumbs Component */
.breadcrumbs {
  padding: 2.4rem 0;
}

.breadcrumbs-text {
  color: #141719;
  font-weight: 500;
  font-size: 1.2rem;
}

/* Section Hero */
.section-hero {
  padding: 3.2rem 0 6rem;
  overflow: hidden;
}

.banner {
  color: #fff;
  position: relative;
  background-color: #000;
  border-radius: 6px;
}

.banner-content {
  position: relative;
  z-index: 10;
  padding: 8rem;
  min-height: 36rem;
  display: flex;
  flex-direction: column;
}

.banner-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 6px;
}

.banner-img {
  width: 100%;
  height: 102%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.25s ease-in-out;
}

.banner-inner {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.banner-heading {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  line-height: 1.5;
}

.banner-inner > p {
  margin-bottom: 2.4rem;
}

.banner-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1.6rem 2.4rem;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.33;
  cursor: pointer;
  background-color: #3295ce;
}

.banner-btn span {
  margin-top: 2px;
}

.banner-btn span,
.banner-btn svg {
  z-index: 2;
}

.banner-btn-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  transition: opacity 0.25s ease-in-out;
}

.banner-btn:hover .banner-btn-hover {
  opacity: 0;
}

/* --------------------------------------------------*/
/* Section Message */
.message-text {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #141719;
}

/* --------------------------------------------------*/
/* Section Set */

.section-sets {
  overflow: auto;
}

.sets-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 3rem;
}

.set-card {
  position: relative;
  min-height: 25.6rem;
  color: #fff;
  background-color: #141719;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
}

.set-card:hover .set-card-img-wrapper > img {
  transform: scale(1.02);
}

.set-360 {
  grid-area: 1 / 2 / 3 / 3;
}

.set-card-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.set-card-content {
  padding: 4rem;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
}

/* --------------------------------------------------*/
/* Section Statistic */
.statistic {
  display: flex;
  gap: 3rem;
}

.statistic-item {
  background-color: #fff;
  padding: 4rem 4.8rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  flex: 1;
}

.statistic-item-number {
  color: #141719;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.3;
}

/* --------------------------------------------------*/
/* Section Offers */
.section-offers {
  overflow: hidden;
}

.offers-card {
  font-size: 1.4rem;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.offers-card:hover {
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
  background-color: #fff;
}

.offers-card:hover .offers-card-img {
  top: -2%;
}

.offers-card-img-wrapper {
  position: relative;
  padding-top: 60%;
}

.offers-card-logo {
  position: absolute;
  top: 1.6rem;
  right: 0;
  width: 7.8rem;
  height: 5.6rem;
  border-radius: 6px 0 0 6px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers-card-content {
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.card-category {
  color: #6f787b;
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: 700;
}

.card-category-wrapper {
  display: flex;
}

.card-title {
  color: #141719;
  font-size: 1.6rem;
  font-weight: 700;
}

/* --------------------------------------------------*/
/* Section Get-app */

.get-app-wrapper {

  background-color: #fff;
}

.get-app-inner {
  display: flex;
  min-height: 37.4rem;
  justify-content: space-between;
  align-items: center;
}

.get-app-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: flex-start;
}

.get-app-heading {
  color: #141719;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.app-btn {
  padding: 1.6rem 3.2rem;
  font-size: 1.2rem;
  color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.33;
  transition: all 0.25s ease-in-out;
}

.app-btn:hover {
  background-color: #f9fafa;
}

.app-buttons img {
  display: block;
}

.app-mob-btn {
  color: #182cc0;
  background-color: #f9fafa;
  padding: 1.6rem 3.2rem;
  border-radius: 4px;
  border: 1px solid #182cc0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
  display: none;
  gap: 4px;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.app-mob-btn:hover {
  border-color: #e1e4e5;
}

.get-app-img img {
  max-height: 90%;
  object-fit: contain;
}

/* --------------------------------------------------*/
/* Section Product */
.section-products {
  overflow: hidden;
}
.product-card {
  height: 100%;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  display: flex;
  font-size: 1.4rem;
  flex-direction: column;
  transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
  background-color: #fff;
}

.product-card-img-wrapper {
  border-radius: 8px 8px 0 0;
  position: relative;
  padding-top: 60%;
  overflow: hidden;
}

.product-card:hover .product-card-img {
  top: -2%;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.8rem;
  align-items: flex-start;
}

.card-description {
  -webkit-line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* --------------------------------------------------*/
/* Section Awards */
.section-awards {
  overflow: hidden;
}

.award-card {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #fff;
  transition: border-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.award-content {
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}

.award-content > img {
  height: 5.2rem;
  width: auto;
}

.award-content h3 {
  font-size: 1.6rem;
  line-height: 3rem;
}

/* --------------------------------------------------*/
/* Footer */
.footer {
  padding-top: 6rem;
}

.footer-top {
  padding: 4.5rem 0 5rem;
  background-color: #fff;
}

.footer-top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  display: block;
}

.footer-main {
  padding-bottom: 4.5rem;
  background-color: #fff;
}

.footer-arrow-down {
  display: none;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.footer-nav-item {
  flex: 1;
}

.footer-nav-name {
  color: #141719;
  padding-bottom: 2.4rem;
  font-weight: 700;
}

.footer-dropdown-list-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 3.2rem 0;
}

.footer-contact-item {
  font-weight: 700;
  color: #141719;
}

.footer-social-heading {
  font-weight: 700;
  color: #141719;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
}

.footer-bottom {
  padding: 2.8rem 0;
  font-size: 1.2rem;
  border-top: 1px solid #eef1f1;
  background-color: #fff;
}

.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-mob-logo {
  display: none;
}

.footer-contact-item h5 {
  font-size: 1.4rem;
}
